
@{
    ViewData["Title"] = "CustomerList";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Projects</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Müşteri Numarası
                            </th>
                            <th style="width: 30%">
                                Firma İsim
                            </th>
                            <th>
                                Kişi İsim
                            </th>
                            <th style="width: 8%" class="text-center">
                                Birlikte Çalışma Durumu
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                <a>
                                    #CN00100001
                                </a>
                                <br />
                                <small>
                                    Oluşturulma Tarihi : 01.01.2019
                                </small>
                            </td>
                            <td>
                                   Türkiye Garanti Bankası 
                            </td>
                            <td class="project_progress">
                                Garanti BBVA
                                
                            </td>
                            <td class="project-state">
                                <span class="badge badge-success">Çalışmalar Sürüyor</span>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    Detay
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                <a>
                                    #CN00100002
                                </a>
                                <br />
                                <small>
                                    Oluşturulma Tarihi : 01.01.2019
                                </small>
                            </td>
                            <td>
                                Yapı Kredi Türkiye
                            </td>
                            <td class="project_progress">
                                
                                
                                    Yapı Kredi

                            </td>
                            <td class="project-state">
                                <span class="badge badge-danger">Çalışmalar Bitti</span>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    Detay
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                <a>
                                    #CN00100003
                                </a>
                                <br />
                                <small>
                                    Oluşturulma Tarihi : 01.01.2019
                                </small>
                            </td>
                            <td>

                            </td>
                            <td class="project_progress">
                                

                            </td>
                            <td class="project-state">

                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    Detay
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                <a>
                                    #CN00100004
                                </a>
                                <br />
                                <small>
                                    Oluşturulma Tarihi : 01.01.2019
                                </small>
                            </td>
                            <td>

                            </td>
                            <td class="project_progress">
                               

                            </td>
                            <td class="project-state">

                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    Detay
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                5
                            </td>
                            <td>
                                <a>
                                    #CN00100005
                                </a>
                                <br />
                                <small>
                                    Oluşturulma Tarihi : 01.01.2019
                                </small>
                            </td>
                            <td>

                            </td>
                            <td class="project_progress">
                               

                            </td>
                            <td class="project-state">
  
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    Detay
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                6
                            </td>
                            <td>
                                <a>
                                    #CN00100006
                                </a>
                                <br />
                                <small>
                                    Oluşturulma Tarihi : 01.01.2019
                                </small>
                            </td>
                            <td>

                            </td>
                            <td class="project_progress">
                                

                            </td>
                            <td class="project-state">

                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    Detay
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                7
                            </td>
                            <td>
                                <a>
                                    #CN00100007
                                </a>
                                <br />
                                <small>
                                    Oluşturulma Tarihi : 01.01.2019
                                </small>
                            </td>
                            <td>

                            </td>
                            <td class="project_progress">
                               

                            </td>
                            <td class="project-state">

                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    Detay
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                8
                            </td>
                            <td>
                                <a>
                                    #CN00100008
                                </a>
                                <br />
                                <small>
                                    Oluşrulma Tarihi : 01.01.2019
                                </small>
                            </td>
                            <td>

                            </td>
                            <td class="project_progress">
                                

                            </td>
                            <td class="project-state">

                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    Detay
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                9
                            </td>
                            <td>
                                <a>
                                    #CN00100009
                                </a>
                                <br />
                                <small>
                                    Oluşturulma Tarihi : 01.01.2019
                                </small>
                            </td>
                            <td>
                               
                            </td>
                            <td class="project_progress">
                                

                            </td>
                            <td class="project-state">

                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    Detay
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</section>
